body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ececec;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leader-board-score .card .card-body{
    text-align: center;
    display: flex;
    justify-content: center;
}
.leader-board-score .rounded-circle{
    height: 50px;
    width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
    line-height: 11px;
    padding-top: 13px;
}